:root {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding: 10%;
}

video {
    width: 100%;
    height: auto;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seek {
    width: 150%;
}

button {
    margin: auto;
    padding: 0 2%;
    border-radius: 10px;
}